<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> todoApp</title>
    <link rel="stylesheet" href="css/styles.css" media="all" />
</head>
<body>
    <div class="box" id="heading">
        <h1> Welcome to my app</h1>
    </div>
    <div class="box">
        <% for (var i = 0; i < newTodos.length; i++) {
            %>
            <div class="item">
                <input type="checkbox" name="newTodo" id="newTodo" />
                <p>
                    <%= newTodos[i] %>
                </p>
            </div>
            <%
        } %>
        <div class="item">
            <form action="/" method="POST" accept-charset="utf-8">
                <input type="text " name="newTodo" id="newTodo" autofocus placeholder="type new todo:  " />
                <button type="submit">+</button>
            </form>
        </div>
    </body>
</html